<header id="header">
				<h1 id="logo"><a href="/">Otoniel<span>Maya</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li class="submenu">
							<a href="">Bioinformatics</a>
							<ul>
								<!--<li><a href="/left-sidebar.html">Left Sidebar</a></li>
								<li><a href="/right-sidebar.html">Right Sidebar</a></li>-->
								<li><a href="/curso.html">Curso</a></li>
								<li><a href="/one-liners.html">One-liners</a></li>
								<li class="submenu">
									<a href="">Assembly</a>
									<ul>
										<li><a href="#">qc</a></li>
										<li><a href="#">trimm</a></li>
										<li><a href="#">k-mer</a></li>
										<li><a href="#">soap</a></li>
										<li><a href="#">kegg</a></li>
									</ul>
								<li><a href="/contact.html">Contact</a></li>
								</ul>
								</li>

						</li>
						<li><a href="/blog.html">Blog</a></li>

                        <!-- <li><a href="#" class="button special">Sign Up</a></li> -->
					</ul>
				</nav>
			</header>
